.CardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24rem;
}

.AllContainer {
  position: relative;
  height: auto;
  width: 80%;
  top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Product_Added {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.titles {
  height: 80px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  padding: 0px 40px 0px 40px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.titles p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: auto;
  gap: 40px;
}

.OneProduct {
  height: 101px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23.1rem;
  padding: 0px 40px 0px 40px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.ProductIMG {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Cancel {
  position: absolute;
  top: 0;
  left: -5px;
}

#screen {
  height: 60px;
  width: 65px;
}

.Product p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Quantity {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 72px;
  height: 44px;
  right: 3.33rem;
  padding: 0px 0px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.arrow {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.arrow img {
  transition: 0.2s;
}

.arrow img:hover {
  background-color: rgba(0, 0, 0, 0.097);
}

.price {
  position: relative;
  right: 5rem;
}

.subTotal {
  position: relative;
  right: 0.7rem;
}

.btnss {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.btn {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}

.Card_Calculation {
  height: 324px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33rem;
}

.coupon {
  /* background-color: #aaaaaa; */
  width: 527px;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

#input_border {
  width: 300px;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #000;
}

#input_border input {
  color: #000;
  font-size: 20px;
  width: inherit;
}

.coupon button {
  background-color: crimson;
  border: none;
  border-radius: 4px;
  width: 211px;
  height: 56px;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.total {
  width: 470px;
  height: inherit;
  border-radius: 4px;
  border: 1.5px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: safe;
}

.total > p {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.total div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.total > button {
  background-color: #fff;
  position: relative;
  width: 260px;
  height: 56px;
  border: none;
  background-color: crimson;
  border-radius: 4px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  left: 4.9rem;
}

.line {
  border-bottom: #000 1px solid;
}
