.footer {
    position: relative;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 550px;
}

.FooterContainer {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
}

li {
    list-style: none;
}

.section1{
    display: flex;
    flex-direction: column;
}
.section2{
    display: flex;
    flex-direction: column;
}
.section3{
    display: flex;
    flex-direction: column;
}
.section4{
    display: flex;
    flex-direction: column;
}
.section5{
    display: flex;
    flex-direction: column;
}

/* .footerTitles {
    padding-bottom: 15px;
} */

.footerBottom {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    margin-top: 500px;
}