.singup-container {
  /* background-color: red; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 8.0625rem;
  width: 81.5625rem;
  height: 55.8125rem;
  top: -2rem;
  left: 9rem;
  align-items: center;
}
.singup-img img {
  width: 45.4375rem;
  height: 38.125rem;
}
.singup-img {
  position: relative;
  top: 5rem;
  left: 5rem;
  /* padding-top: 75px; */
  background: #cbe4e8;
  border-radius: 4px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.singup-form {
  width: 371px;
  height: 490px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
}
.singup-form input {
  gap: 40px;
  border: none;
  outline: none;
  color: black;
  border-bottom: 1px solid black;
  width: 370px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  opacity: 0.6;
}
.singup-button {
  width: 100%;
  height: 100%;
  padding-left: 122px;
  padding-right: 122px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #db4444;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
}
.google-button {
  width: 100%;
  height: 100%;
  padding-left: 99px;
  padding-right: 86px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background-color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  /* flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex; */
}
.singup-footer-text {
  display: flex;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
}
.singup-footer-text p {
  width: 185px;
  height: 24px;
}
.singup-footer-text a {
  width: 47px;
  height: 24px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
.btn-singup{
  border: none;
  display: flex;
padding: 16px 122px;
justify-content: center;
align-items: center;
gap: 10px;
background-color: #DB4444;
color: white;
}