.NavBar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 48px;
    background-color: white;
    z-index: 1;
    border-bottom: #B7B7B7 1px solid;
}

.NavContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: 1170px;
    top: 45px;
}

.NavWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    height: 38px;
}

.Logo {
    cursor: pointer;
}

.NavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 38px;
    list-style: none;
    cursor: pointer;
}

.NavDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    gap: 30px;
}

.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 38px;
    gap: 20px;
    border-radius: 4px;
    padding: 0px 12px 0px 14px;
}

.Search {
    background-color: transparent;
    height: 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.Search:focus {
    border: none;
}

.bi-search {
    display: flex;
    cursor: pointer;
}

.bi-heart {
    display: flex;
    cursor: pointer;
}

.bi-cart3 {
    display: flex;
    cursor: pointer;
}